{% extends 'base.html' %}
{% load static custom_tags %}

{% block content %}
    <div id="app">
        <div id="products" class="row">
            <div class="col-lg-4 col-md-6 mb-4" v-for="product in product_list">
                <div class="card h-100">
                    <a v-bind:href="product.link">
                        <img v-if="product.image" class="card-img-top" v-bind:src="product.image" v-bind:alt="product.title">
                        <img v-else class="card-img-top" src="/static/img/no_img.png" v-bind:alt="product.title">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a v-bind:href="product.link">[[ product.title ]]</a>
                        </h4>
                        <h5>
                            [[ product.actual_price ]] грн
                            <del v-if="product.discount > 0">[[ product.price ]] грн</del>
                        </h5>
                        <p class="card-text">[[ product.description ]]</p>
                    </div>
                    <form class="card-footer" action="" method="POST">
                        {% csrf_token %}
                        <button v-on:click="add(product.id)" type="button" class="btn btn-success">Купить</button>
                        <button v-on:click="add(product.id)" type="button" class="btn btn-secondary">В корзину</button>
                    </form>
                </div>
            </div>
        </div>

        <div v-if="next" class="text-center mb-3">
            <button id="nextPage" type="button" class="btn btn-outline-primary" v-on:click="show_more()">Show more</button>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/vue-product-list.js' %}"></script>
{% endblock scripts %}
